@font-face {
  font-family: shrikhand;
  src: url(font/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(font/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(font/Roboto-Black.ttf);
}

header {
  position: relative;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: roboto;
}

header .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  bottom: 30px;
  font-size: 20px;
  padding-left: 20px;
  color: black;
}

header a {
  text-decoration: none;
}

header h1 {
  margin: 0;
  font-family: shrikhand;
  text-align: center;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

#conteneur-menu {
  background-color: #F2F2F2;
  border-radius: 45px 45px 0px 0px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  position: relative;
  padding: 20px;
}

#conteneur-menu .titre-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#conteneur-menu .titre-plat h3 {
  font-family: roboto;
  font-weight: 300;
}

#conteneur-menu h2 {
  font-family: shrikhand;
  margin: 0px;
  padding-top: 5px;
  font-size: 27px;
}

#conteneur-menu .far {
  color: gray;
  font-size: 30px;
  padding-right: 15px;
  margin-top: 10px;
}

#conteneur-menu .far:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #FF79DA;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  font-weight: 900;
}

#conteneur-menu .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px 0px 0px 10px;
}

#conteneur-menu .prix p {
  margin: 0px;
  font-family: roboto;
}

.menu-entree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-entree h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: roboto;
  padding-bottom: 5px;
}

.menu-entree .carte-entree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.menu-entree .carte-entree .element-entree {
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 0px;
  -webkit-box-shadow: 2px 4px 2px lightgray;
          box-shadow: 2px 4px 2px lightgray;
  overflow: hidden;
  cursor: pointer;
}

.menu-entree .carte-entree .element-entree:hover {
  border-radius: 10px 0px 0px 10px;
}

.menu-entree .carte-entree .element-entree .prix p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-entree .carte-entree .bouton-entree {
  background: #99e2d0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -7rem;
  width: 7rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
  -webkit-box-shadow: 2px 4px 2px lightgray;
          box-shadow: 2px 4px 2px lightgray;
}

.menu-entree .carte-entree .bouton-entree i {
  background: #F2F2F2;
  padding: 0.5rem;
  color: #99e2d0;
  border-radius: 50%;
}

.menu-entree .carte-entree .element-entree:hover + .bouton-entree {
  margin-right: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  opacity: 1;
}

.menu-entree .carte-entree .element-entree:hover + .bouton-entree i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.bouton-commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.bouton-commander .commander {
  background-color: #a5498b;
  color: white;
  border-radius: 30px;
  padding: 15px 30px  15px 30px;
  font-size: 20px;
  -webkit-box-shadow: 4px 4px 4px #808080a8;
          box-shadow: 4px 4px 4px #808080a8;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.bouton-commander .commander:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.pied-de-page {
  color: white;
  background-color: #353535;
  padding-bottom: 30px;
}

.pied-de-page h3 {
  font-family: shrikhand;
}

.pied-de-page p {
  margin: 5px;
}

.pied-de-page a {
  color: white;
  text-decoration: none;
  font-family: roboto;
}

.pied-de-page .fas {
  margin-right: 5px;
  font-size: 12px;
}

.pied-de-page .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
}
/*# sourceMappingURL=menuresto.css.map */